.box{
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    background-color: black;
}
.box h2{
    color: white;
}
img{
    aspect-ratio: 1;
    width: 100px;
}
