/*General Styling*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --background-color: #0c1111;
    --alt-color: rgb(226, 226, 226);
    /*--border-color: rgb(255,255,255,0.2);*/
    --border-color: #FFD700;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
}

h1, h2, h3, a, p, i {
    color: var(--alt-color);
}

/*End General Styling*/

/*Nav-bar Styling*/
nav {
    position: absolute;
}

.nav-wide-screen {
    display: none;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
}

nav > .nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#nav-logo-section,
#nav-links-section {
    flex-basis: calc(100% / 3);
}

#nav-socials-section,
#nav-contact-section,
#nav-hamburger-section {
    flex-grow: 1;
}

#nav-logo-section {
    justify-content: flex-start;
    border-left: none;
}

#nav-hamburger-section {
    justify-content: flex-end;
}

#nav-links-section {
    gap: 6rem;
}

#nav-socials-section {
    gap: 3rem;
}

#nav-socials-section,
#nav-contact-section,
#nav-links-section {
    display: flex;
}

nav i {
    font-size: 32px;
}

nav img {
    aspect-ratio: 1;
    width: 75px;
}

.nav-small-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-small-screen #nav-top-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 3rem 2rem;
    align-items: center;
}

.nav-small-screen #nav-bottom-bar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*gap: 3rem;*/
    width: 100%;
    transition: all 1s ease-in-out;
}

#nav-bottom-bar .nav-section {
    display: flex;
    padding-block: 2rem;
    gap: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-bottom: 1px solid var(--border-color);
}

#nav-bottom-bar #nav-contact-small-section {
    border-bottom: none;
}

.nav-order {
    border-bottom: 1px solid var(--border-color);
}

nav a h2:hover,
nav a i:hover {
    color: var(--border-color);
}

.img-normal {
    position: relative;
}

.img-hover {
    position: absolute;
}

.img-normal:hover {
    opacity: 0;
}

/*End Nav-bar Styling*/

/*Sidebar Styling*/
.sidebar {
    display: flex;
    flex-direction: column;
    height: 2rem;
    width: 2rem;
    position: fixed;
    top: 90%;
    right: 2rem;
    z-index: 10;
    gap: 1rem;
}

.sidebar i {
    font-size: 24px;
    color: var(--alt-color);
}

.sidebar i:hover {
    color: var(--border-color);
}

/*End Sidebar Styling*/

/*Main Content Styling*/

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*width: 100%;*/
    padding: 2rem;
    border-bottom: 1px solid var(--border-color);
}

#first-page h1 {
    font-size: 10rem;
}

#first-page h1::first-letter {
    color: var(--border-color);
}

#second-page {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding-inline: 5rem;
    gap: 2rem;
}

.page-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

.page-Title h1:first-letter {
    color: var(--border-color);
    font-size: 36px;
}

/*End Main Content Styling*/