@media only screen and (min-width: 900px) {
    #nav-socials-section,
    #nav-contact-section,
    #nav-links-section{
        display: flex;

    }
    #nav-hamburger-section{
        display: none;
    }
}